<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Frequently Asked Questions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <ion-grid>
    <div class="container container-light">
      <h3>Are You Insured?</h3>
      <h6>Yes, we are! We can provide proof of insurance upon request.</h6>
    </div>

    <div class="container container-dark">
      <h3>How Long Will It Take You To Install My New Gutters?</h3>
      <h6>Most jobs will take anywhere between 4-6 hours to install.</h6>
    </div>

    <div class="container container-x-light">
      <h3>How Soon Can You Do My Installation?</h3>
      <h6>We are very prompt with our estimate to installation time. We try to keep them within 2 weeks.</h6>
    </div>

    <div class="container container-dark">
      <h3>Do You Require A Down Payment?</h3>
      <h6>We don’t require a down payment. We prefer full payment upon completion of the installation to ensure customer
        satisfaction.</h6>
    </div>

    <div class="container container-light">
      <h3>What Forms Of Payment Do You Accept?</h3>
      <h6>We except checks or cash payments.</h6>
    </div>

    <div class="container container-dark">
      <h3>How Are Seamless Gutters Installed?</h3>
      <h6>We use 5” hidden speed screw hangers or 5” T-bar hangers depending on the style of fascia on your home.</h6>
    </div>

    <div class="container container-x-light">
      <h3>What Are Seamless Gutters And Why Are They Better Than What I Currently Have?</h3>
      <h6>Our seamless gutters are one piece gutters made of durable .032 guage alluminum. Unlike traditional gutters,
        seamless gutters are not joined together in multiple sections but are instead cut to length to fit the required
        linear footage.
        The advantage of seamless gutters is that they prevent leaking at the seams that traditional gutters have….</h6>
    </div>

    <div class="container container-dark">
      <h3>Can You Just Repair My Old Gutters Instead Of Installing New Ones?</h3>
      <h6>We don’t repair or rehang existing gutters. We only do new installs.</h6>
    </div>

    <div class="container container-light">
      <h3>What Do I Do With My Old Gutters After You’re Done?</h3>
      <h6>We will take and dispose of your old gutters once the job is complete, unless otherwise requested by you.</h6>
    </div>

  </ion-grid>
</ion-content>