<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Frequently Asked Questions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <ion-grid>
    <ion-row>

      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-card-title class="ion-text-center">What Are Seamless Gutters & Why Are They Better?</ion-card-title>
              <p>
                Our seamless gutters are made from one durable piece of .032 gauge aluminum. 
                They are not multiple sections joined together but are instead custom fit to the given requirements.
                A gutter without seams eliminates leaks and is better suited to handle all types of precipitation.
              </p>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content>
            <ion-card-title class="ion-text-center">How Long Does a New Install Take?</ion-card-title>
              <p>
               Installations usually require 4 to 6 hours.
              </p>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content>
            <ion-card-title class="ion-text-center">Can You Simply Repair My Old Gutters Instead of Installing New Ones?</ion-card-title>
              <p>
                We do not repair or rehang existing gutters. <u>New installs only!</u>
              </p>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content>
            <ion-card-title class="ion-text-center">How Are Seamless Gutters Installed?</ion-card-title>
              <p>
                Depending on the style of your home's fascia, we use 5” hidden speed screw hangers
                 <br/>- or -<br/>
                 5” T-bar hangers.
              </p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-card-title class="ion-text-center">When Can You Start My Installation?</ion-card-title>
              <p>
                We are very prompt from the time of estimate to installation. 
                We try to keep them within 2 weeks.
              </p>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content>
            <ion-card-title class="ion-text-center">Do You Require a Down Payment?</ion-card-title>
              <p>
                No, we prefer full payment 
                upon job completion to ensure customer
                satisfaction.
              </p>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content>
            <ion-card-title class="ion-text-center">What Forms of Payment Are Acceptable?</ion-card-title>
              <p>
                We accept check or cash payments.
              </p>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content>
            <ion-card-title class="ion-text-center">Are You Insured?</ion-card-title>
              <p>
                Yes, we are! We can provide proof of insurance upon request.
              </p>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content>
            <ion-card-title class="ion-text-center">What Happens to My Old Gutters?</ion-card-title>
              <p>
                We properly dispose of all old gutters upon job completion.
                (Unless otherwise requested by you.)
              </p>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>