ion-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

ion-card{
    border: 1px solid var(--ion-color-light-tint);
    min-width: 250px;
}
ion-card-title {
    color: white;
    text-shadow: -1px 1px 0 var(--ion-color-primary-shade),
    1px 1px 0 var(--ion-color-primary-shade),
   1px -1px 0 var(--ion-color-primary-shade),
  -1px -1px 0 var(--ion-color-primary-shade);
    padding-top: 2%;
    font-size: 3em;
}
ion-card-subtitle {
    padding-top: 2%;
    font-size: 1.5em;
}

p {
    color: var(--ion-color-dark-shade);
    font-size: 1.5em;
}