<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Products, Services, and Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col>
        <ion-card>
          <ion-card-title class="ion-text-center">Seamless Gutters</ion-card-title>
          <ion-card-subtitle class="ion-text-center">K-style  <br/><sub>( .032 Gauge Aluminum )</sub></ion-card-subtitle>
          <ion-card-content>
            <p>&emsp;Durability is a major advantage of our seamless gutters vs traditional types. Our gutters
              are made with stronger material and they won’t fall apart or have leaky connections because they are
              not pieced together.<br/>&emsp;We custom fit the gutter, which is made from a special machine that is brought
              on-site. The result is a continuous gutter that carries surface runoff away with effortless flow. *Certain exceptions apply
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <img class="image" src="assets/pics/seamless-gutters.jpg" alt="Seamless gutters staged on lawn" />
      </ion-col>
    </ion-row>

    <ion-row>
      <!-- <ion-col size="2"></ion-col> -->
      <ion-col push-sm="6">
        <ion-card class="gutter-guards-card">
          <ion-card-title class="ion-text-center">Gutter Guards</ion-card-title>
          <ion-card-subtitle class="ion-text-center">Helmets</ion-card-subtitle>
          <ion-card-content>
            <p>&emsp;Gutter guards (also called gutter covers, gutter protection or leaf guards) are 
              insertable hardware aimed at preventing damage caused from clogged gutters 
              and reducing the need for regular gutter cleaning.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col pull-sm="6">
        <img class="image" src="assets/pics/gutter-guard.jpg" alt="Close up of gutter guards"/>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-title class="ion-text-center">Snow Stops</ion-card-title>
          <ion-card-subtitle class="ion-text-center">Snow/Ice Mitigation</ion-card-subtitle>
          <ion-card-content>
            <p>&emsp;A snow stop, or snow guard, is a device used to retain snow and ice from falling from one 
              surface to a lower one; in contemporary usage, they are installed to prevent snow/ice pack 
              from avalanching and damaging people, plants, and property below.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <img class="image" src="assets/pics/snow-stops.jpg" alt="Snow and Ice guards on metal roofs"/>
      </ion-col>
    </ion-row>

    <ion-row>
      <!-- <ion-col size="2"></ion-col> -->
      <ion-col push-sm="6">
        <ion-card class="fascia-board-card">
          <ion-card-title class="ion-text-center">Fascia</ion-card-title>
          <ion-card-subtitle class="ion-text-center">Board Replacement<br/>& Aluminum Wrapping</ion-card-subtitle>
          <ion-card-content>
            <p>&emsp;The fascia board caps the end of rafters. It also 
              acts as a seal between the interior of the home to the elements and animals outside.
              <br/>&emsp;Fascia alumimun wrapping is used for additional protection of the wooden 
              board. This adds a nice aesthetic to the exterior of the home, as well.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col pull-sm="6">
        <img class="image" src="assets/pics/fascias.png" alt="Fascia board and wrapping" />
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-title class="ion-text-center">Soffit</ion-card-title>
          <ion-card-subtitle class="ion-text-center">Replacement and Repair</ion-card-subtitle>
          <ion-card-content>
            <p>&emsp;Soffit is the area on the underside of the eave that protects your rafters from moisture,
              mildew, and mold.<br/>&emsp;Please, let us know if you see any damage or would like to replace your soffit. We’d be happy to come out
              and fix it up!
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <img class="image" src="assets/pics/gutter-soffet.jpg" alt="Clear view of soffet bordering a wooden building"/>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="product-colors-card">
          <ion-card-title class="ion-text-center">Product Colors</ion-card-title>
          <ion-card-subtitle class="ion-text-center">Readily available</ion-card-subtitle>
          <ion-card-content>
            <ion-grid>
              <ion-row>
              <ion-col size-xs="6" size-md="3">
                <div class="product-color mc-almond"><p><sub>MC Almond</sub></p></div>
                <div class="product-color nx-cream"><p><sub>NX Cream</sub></p></div>
                <div class="product-color mc-pebblestone-clay"><p><sub>MC Pebblestone Clay</sub></p></div>
                <div class="product-color mc-white-30"><p><sub>MC White 30</sub></p></div>
                <div class="product-color mc-white-80"><p><sub>MC White 80</sub></p></div>
                <div class="product-color mc-desert-sand"><p><sub>MC Desert Sand</sub></p></div>
                <div class="product-color mc-harbor-gray"><p><sub>MC Harbor Gray</sub></p></div>
                <div class="product-color mc-silver-gray"><p><sub>MC Silver Gray</sub></p></div>
              </ion-col>
              <ion-col size-xs="6" size-md="3">
                 <div class="product-color mc-black"><p><sub>MC Black</sub></p></div>
                 <div class="product-color vm-stone-mnt-clay"><p><sub>VM Stone Mnt. Clay</sub></p></div>
                 <div class="product-color mc-redwood"><p><sub>MC Redwood</sub></p></div>
                 <div class="product-color nx-bronze"><p><sub>NX Bronze</sub></p></div>
                 <div class="product-color mc-buckskin"><p><sub>MC Buckskin</sub></p></div>
                 <div class="product-color nx-copper-penny"><p><sub>NX Copper Penny</sub></p></div>
                 <div class="product-color mc-linen"><p><sub>MC Linen</sub></p></div>
                 <div class="product-color mc-terra-bronze"><p><sub>MC Terra Bronze</sub></p></div>
              </ion-col>
              <ion-col size-xs="6" size-md="3">
                <div class="product-color mc-charcoal-grey"><p><sub>MC Charcoal Gray</sub></p></div>
                <div class="product-color mc-musket-brown"><p><sub>MC Musket Brown</sub></p></div>
                <div class="product-color mc-royal-brown"><p><sub>MC Royal Brown</sub></p></div>
                <div class="product-color nx-beaver-brown"><p><sub>NX Beaver Brown</sub></p></div>
                <div class="product-color mc-cameo"><p><sub>MC Cameo</sub></p></div>
                <div class="product-color mc-eggshell"><p><sub>MC Eggshell</sub></p></div>
                <div class="product-color mc-montana-suede"><p><sub>MC Montana Suede</sub></p></div>
                <div class="product-color mc-sandstone"><p><sub>MC Sandstone</sub></p></div>
              </ion-col>
              <ion-col size-xs="6" size-md="3">
                <div class="product-color mc-everest"><p><sub>MC Everest</sub></p></div>
                <div class="product-color mc-evergreen"><p><sub>MC Evergreen</sub></p></div>
                <div class="product-color mc-wicker"><p><sub>MC Wicker</sub></p></div>
                <div class="product-color mc-brookstone"><p><sub>MC Brookstone</sub></p></div>
                <div class="product-color mc-country-blue"><p><sub>MC Country Blue</sub></p></div>
                <div class="product-color nx-norwegian-wood"><p><sub>NX Norwegian Wood</sub></p></div>
                <div class="product-color mc-sage"><p><sub>MC Sage</sub></p></div>
                <div class="product-color mc-village-green"><p><sub>MC Village Green</sub></p></div>
                <div class="product-color nx-frost"><p><sub>NX Frost</sub></p></div>
              </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <p>&emsp;K & K Seamless Gutters is a veteran owned and locally
              operated company out of Sayre, Pennsylvania. Established in 2016, by long time friends
              Kyle Rudloff and Kyle Cook, when an opportunity presented itself to buy equipment
              that would allow for extra income outside of their full-time jobs.<br />&emsp;Today, Kyle and Kyle have
              taken the small business full-time to
              provide a better life for their families and to better serve their customers. They take
              pride in their work while holding the highest precidence to responsiveness and customer satisfaction.
              We deeply appreciate your interest and look forward to any future opportunities!
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <img class="image" src="assets/imgs/company-logo.png" alt="Company Logo"/>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>