<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Products, Services, and Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col>
        <ion-card>
          <ion-card-title class="ion-text-center">Seamless Gutters</ion-card-title>
          <ion-card-subtitle class="ion-text-center">K-style</ion-card-subtitle>
          <ion-card-content>
            <p>&emsp;A major advantage to our seamless gutters over traditional ones is durability. Our gutters
              made with stronger materials and they won’t fall apart and they have no chance of leaks because they have
              are not pieces together, instead they’re one long continuous run with certain exceptions.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <img class="cont-gutter-img" src="assets/pics/seamless-gutters.jpg" />
      </ion-col>
    </ion-row>

    <ion-row>
      <!-- <ion-col size="2"></ion-col> -->
      <ion-col push-sm="6">
        <ion-card class="gutter-guards-card">
          <ion-card-title class="ion-text-center">Gutter Guards</ion-card-title>
          <ion-card-subtitle class="ion-text-center">Helmets</ion-card-subtitle>
          <ion-card-content>
            <p>&emsp;Gutters guards are insertable hardware that cover the gutter and work to
              prevent leaves and other natural debris from entering and clogging the gutter and downspouts.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col pull-sm="6">
        <img class="gutter-guard-img" src="assets/pics/guard.jpg" />
      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col>
        <ion-card>
          <ion-card-title class="ion-text-center">Soffit</ion-card-title>
          <ion-card-subtitle class="ion-text-center">Replacement and Repair</ion-card-subtitle>
          <ion-card-content>
            <p>&emsp;Soffit is the area on the underside of the eave that protects your rafters from moisture,
              mildew, and mold. If you see any damge to your soffit, let us know and we’d be happy to come out
              and take a look!
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <img class="cont-gutter-img" src="assets/pics/gutter-soffet.jpg" />
      </ion-col>
    </ion-row>

    <ion-row>
      <!-- <ion-col size="2"></ion-col> -->
      <ion-col push-sm="6">
        <ion-card class="fascia-board-card">
          <ion-card-title class="ion-text-center">Fascia</ion-card-title>
          <ion-card-subtitle class="ion-text-center">Board Replacement<br/>& Aluminum Wrapping</ion-card-subtitle>
          <ion-card-content>
            <p>&emsp;The fascia board is the board that runs along the tails of the rafters that 
              acts as a seal between the interior of the home and the elements and animals outside.
              <br/>&emsp;Fascia alumimun wrapping is used for additional protection of the wooden 
              fascia board. It also adds a nice aesthetic to the exterior of the home.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col pull-sm="6">
        <img class="fascias-img" src="assets/pics/fascias.png" />
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <p>&emsp;K & K Seamless Gutters is a veteran owned and locally
              operated company out of Sayre, Pennsylvania. Established in 2016, by long time friends
              Kyle Rudloff and Kyle Cook, when an opportunity presented itself to buy equipment
              that would allow for extra income outside of their full-time jobs.<br />&emsp;Today, Kyle and Kyle have
              taken the small business full-time to
              provide a better life for their families and to better serve their customers. They take
              pride in their work while holding the highest precidence to responsiveness and customer satisfaction.
              We deeply appreciate your interest and look forward to future opportunities!
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <img class="kk-img" src="assets/pics/knk.jpg" />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>