.block-1 {
    padding-left: 1%;
}
.block-1-row {
    min-height: 350px;
    max-height: 700px;
}


.block-2 {
    padding-left: 20%;
    padding-right: 10%;
}

.about-img-1 {
    max-height: 300px;
    max-width: 150px;
}
