ion-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

ion-card{
    border: 1px solid var(--ion-color-primary-shade);
    min-width: 250px;
    // margin: 10px auto;
}
ion-card-title {
    // color: white;
    padding-top: 2%;
    font-size: 3em;
    // text-shadow: var(--ion-color-primary);
}
ion-card-subtitle {
    // color: white;
    padding-top: 2%;
    font-size: 1.5em;
    // text-shadow: var(--ion-color-primary);
}

p {
    color: var(--ion-color-dark-shade);
    font-size: 1.5em;
}

.product-color{
    min-width: 50px;
    max-width: 150px;
    min-height: 50px;
    max-height: 50px;
    margin-top: 35px;
    border-radius: 5px;
}

.product-color p {
    padding: 0px 0 0px 0;
    margin: 0px 0 0px 0;
    position: relative;
    bottom: 30px;
    font-size: medium;
}

.seamless-gutters-text-card{
    max-width: 350px;
    min-width: 335px;
    max-height: 200px;
    min-height: 150px;
    padding: 0% 2%;
}

.image{
    min-width: 150px;
    border-radius: 5px;
}

.leaf-blaster-container {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: auto;
    max-width: 350px;
    max-height: 250px;
    // align-items: center;
}
.leaf-blaster-logo {
    border-radius: 5px;
    // max-width: 350px;
    // max-height: 250px;
    
}

.center {
    // display: flex;
    // justify-content: center;
    // align-content: center;
    // align-items: center;
    width: 100%;
  }

.mc-almond {
    background-color:#ECE0C7;
}
.mc-black {
    background-color:black;
}
.nx-beaver-brown {
    background-color:#5C453C;
}
.nx-bronze {
    background-color:#322E2C;
}
.mc-brookstone {
    background-color:#999788;
}
.mc-buckskin {
    background-color:#8E7159;
}
.mc-cameo {
    background-color:#F6E8CE;
}
.mc-charcoal-grey {
    background-color:#636567;
}
.nx-copper-penny {
    background-color:#C67A3E;
}
.mc-country-blue {
    background-color:#547F91;
}
.nx-cream {
    background-color:#F9ECC8;
}
.mc-desert-sand {
    background-color:#DDC8AE;
}
.mc-eggshell {
    background-color:#F0EAD6;
}
.mc-everest {
    background-color:#97A6AA;
}
.mc-evergreen {
    background-color:#2B5145;
}
.nx-frost {
    background-color:#BFDFED;
}
.mc-harbor-gray {
    background-color:#8F8B85;
}
.mc-linen {
    background-color:#F4ECDD;
}
.mc-montana-suede {
    background-color:#7C7364;
}
.mc-musket-brown {
    background-color:#463E3B;
}
.nx-norwegian-wood {
    background-color:#605A4F;
}
.mc-pebblestone-clay {
    background-color:#958977;
}
.mc-redwood {
    background-color:#742E2E;
}
.mc-royal-brown {
    background-color:#4E3836;
}
.mc-sage {
    background-color:#9BA17B;
}
.mc-sandstone {
    background-color:#DEC5A0;
}
.mc-silver-gray {
    background-color:#C0C0C0;
}
.vm-stone-mnt-clay {
    background-color:#A69479;
}
.mc-terra-bronze {
    background-color:#635D56;
}
.mc-village-green {
    background-color:#A2AB9B;
}
.mc-wicker {
    background-color:#B9A990;
}
.mc-white-30 {
    background-color:#F3F5EF;
}
.mc-white-80 {
    background-color:#F5F6EF;
}