<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-col>
      <div class="container-light ion-text-left block-1">
        <ion-row class="block-1-row">
          <ion-col>
            <p>K & K Seamless Gutters is a veteran owned and locally operated company based out of Sayre, Pennsylvania.
              K & K Seamless Gutters was established in 2016 by long time friends Kyle Rudloff and Kyle Cook when an
              opportunity presented itself to buy equipment that would allow for extra income outside of their full time
              jobs.
            </p>
          </ion-col>
          <ion-col>
            <div class="about-img-1">
              <img src="../../assets/pics/knk.jpg" />
            </div>
          </ion-col>
        </ion-row>
      </div>


      <div class="container-dark ion-text-left block-2">
        <ion-row>
          <p>
            Today, Kyle and Kyle have taken K & K Seamless Gutters full time to provide a better life for their families
            and to offer their customers a wider range of quality products and services.
            K & K Seamless Gutters is a small business that takes pride in their work and prioritizes their
            responsiveness and customer satisfaction.
            We appreciate your interest, and we look forward to the opportunity to work for you!
          </p>
        </ion-row>
      </div>
    </ion-col>
  </ion-grid>
</ion-content>