<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contact Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-col>
      <ion-row>
        <div>
          <ion-list>
            <ion-list-header><h3>Facebook</h3></ion-list-header>
            <ion-item>
              <ion-icon name="logo-facebook" item-start></ion-icon>
              <p>Subscribe and more: <a target="_blank"
                  href="https://www.facebook.com/K-K-Seamless-Gutter-103230798276455">Visit Our Page</a></p>
            </ion-item>
            <ion-list-header><h3>Phone</h3></ion-list-header>
            <ion-item>
              <ion-icon name="call" item-start></ion-icon>
              <p>Give us a ring: <a href=tel:15706999297>(570) 699-9297</a></p>
            </ion-item>
            <ion-list-header><h3>Text</h3></ion-list-header>
            <ion-item>
              <ion-icon name="phone-portrait"></ion-icon>
              <p>Send a text: <a href="sms:15706999297">(570) 699-9297</a></p>
            </ion-item>
            <ion-list-header><h3>E-mail</h3></ion-list-header>
            <ion-item>
              <ion-icon name="mail" item-start></ion-icon>
              <p>Pass an e-mail: <a>kyle@email.com</a></p>
            </ion-item>
          </ion-list>
        </div>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>