ion-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

ion-card{
    border: 1px solid var(--ion-color-light-tint);
}

.cologo {
    margin-top: 15px 10px;
    max-width: 85%;
    min-width: 250px;
}

.image {
    border-radius: 5px;
}

h1 {
    font-size: 2em;
}
.ao {
    text-decoration: underline;
}

// h4[name="hours"] {
//     padding-left: 25%;
// }