<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="container-light">
          <h1 class="ion-text-center">K & K Seamless Gutters</h1>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col ></ion-col>
      <ion-col size="12">
        <img class="cologo" src="assets/imgs/company-logo.png" />
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col class="ion-align-self-center" size="12">
        <div class="slides-div">
        <ion-slides pager="true" [options]="slideOptsOne" #slideWithNav
          (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)">
          <ion-slide *ngFor="let s of sliderOne.slidesItems">
            <img class="image" src="assets/pics/{{s.id}}.jpg">
          </ion-slide>
        </ion-slides>
      </div>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="counties-served">
          <ion-card-header>
            <ion-card-title class="ion-text-center">Area of Operation</ion-card-title>
            <ion-card-subtitle class="ion-text-center">Please, contact us about service if your county is not on the list.
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            <ion-row>
            <ion-col>
              <h1 class="ao">New York</h1>
              <h4 *ngFor="let county of nyCounties">
                {{ county }}
              </h4>
            </ion-col>
            <ion-col>
              <h1 class="ao">Pennsylvania</h1>
              <h4 *ngFor="let county of paCounties">
                {{ county }}
              </h4>
            </ion-col>
          </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="hours">
          <ion-card-header>
            <ion-card-title class="ion-text-center">Availability</ion-card-title>
            <ion-card-subtitle class="ion-text-center">
              These are our normal working hours. However, feel free to look at our 'Contact' section and leave a message anytime.
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            <ion-row>
            <ion-col>
              <h1 class="ao">Mon - Sat</h1>
              <h4 class="ion-text-center" name="hours" >
                 <!-- {{ data }} -->
                 6 a.m. - 6 p.m.
              </h4>
               
            </ion-col>
            <ion-col>
              <h1 class="ao">Sunday</h1>
                <h4 class="ion-text-center" name="hours">
                  Closed
                </h4>
            </ion-col>
          </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>