<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <div class="container-dark">
      <ion-row class="ion-justify-content-around">
        <ion-col>
          <img src="assets/imgs/cologoCrop.png" />
          <!-- <img src="assets/imgs/cologo.jpg"/> -->
        </ion-col>
      </ion-row>
    </div>

    <div class="container-light ion-text-center">
      <ion-row>
        <ion-col>
          <h1>K & K Seamless Gutters</h1>
          <h5>Welcome to our website! </h5>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>